.standings {
  width: 100%;

  // Coloring relegations and Champions League???

  tbody tr:nth-child(5) {
    border-top: 2px solid rgba(black, 0.3);
    border-bottom: 2px solid rgba(black, 0.3);
  }

  tbody tr:nth-last-child(3) {
    border-top: 2px solid rgba(black, 0.3);
  }
}

// check for leaky styles
.loader {
  position: absolute;
  top: 30%;
  left: 50%;
}
